.container-callout {
    background: url("../images/whiskey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

.img-transparent {
    background: transparent;
    color: white;
}

.hr-orange {
    color: green;
    background-color: #a76b24;
    height: 3px;
    width: 25vw;
    border: 0;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    border: 0;
}

.container-fluid {
    margin-bottom: 0;
}

.clearblack {
    background-color: transparent;
    margin-bottom: 0;
}

/* navbar styling*/

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-default .navbar-collapse {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: white;
    line-height: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: grey;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color:grey;
}




